<header class="masthead ">
    <div class="container">
        <div class="col-md-7 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/moteles/edit/{{link.id}}" method="POST">
                        <div class="form-group">
                            <input type="text" name="Motel_Nombre" class="form-control" placeholder="Nombre Motel" value="{{link.Motel_Nombre}}" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="Direccion_Motel" class="form-control" placeholder="Direccion" value="{{link.Direccion_Motel}}">
                        </div>
                        <div class="form-group">
                            <input type="text" name="Telefon_Motel" class="form-control" placeholder="Telefono" value="{{link.Telefono_Motel}}">
                        </div>
                        <div class="form-group">
                            <input type="email" name="Correo_Motel" class="form-control" placeholder="Email" value="{{link.Correo_Motel}}">
                        </div>
                        <div class="form-group">
                            <input type="url" name="Web_Motel" class="form-control" placeholder="URL" value="{{link.Web_Motel}}">
                        </div>
                        <div class="form-group">
                            <textarea name="Descripcion" rows="4" class="form-control" placeholder="Description">{{link.Descripcion}}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Actualizar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
